
<!-- <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
Email:<input type="text"  formControlName="email"><br>
OldPassword:<input type="password" formControlName="oldPassword"><br>
NewPassword:<input type="text" formControlName="newPassword"><br>
ConfirmPassword:<input type="text" formControlName="confirmPassword"><br>
<input type="submit" value="submit">
</form> -->

<div class="container w-25 mt-5 pt-5">

    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                
        <div class="row mt-3">
            <div class="col-12">
                <div class="form-group">
                    <!-- <label for="email" >Email</label> -->
                    <input type="text" class="form-control" placeholder="Email" formControlName="email">
                </div>
            </div>
        </div>
               
        <div class="row mt-3">
             <div class="col-12">
                <div class="form-group">
                    <!-- <label for="oldPassword" >Old Password</label> -->
                    <input type="password" class="form-control" placeholder="Old Password" formControlName="oldPassword">
                </div>
            </div>
        </div>
              
        <div class="row mt-3">
            <div class="col-12">
                <div class="form-group">
                    <!-- <label for="newPassword" >New Password</label> -->
                    <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword" [ngClass]="{'is-invalid':submitted && changePasswordForm.controls['newPassword'].errors}">
                </div>
            </div>
        </div>
                <div *ngIf="submitted && changePasswordForm.controls['newPassword'].errors" class="text-danger">
                    <div *ngIf="submitted && changePasswordForm.controls['newPassword'].errors">
                        Password should be minimum 6 characters
                    </div>
                </div>
                
               
        <div class="row mt-3">
            <div class="col-12">
                <div class="form-group">
                    <!-- <label for="confirmPassword" >Confirm Password</label> -->
                    <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
                </div>
            </div>
        </div>
                
        <div class="row mt-3">
            <div class="col-12">
                <div class="form-group">
                    <button class="btn btn-primary">Change Password</button>
                </div>
            </div>
        </div>

         </form>
 </div>
    

